@model RolesLazyLoad.Models.RoleGroups

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RoleGroups</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<p>
    @Html.ActionLink("Create New", "RolesGroupCreate", new { id = Model.ID })
</p>



@Html.Partial("RolesGroup", Model.RoleGroupsJoinRoles)



<p>
    @Html.ActionLink("add user", "AddUserToGroup", new { id = Model.ID })
</p>
@Html.Action("RoleGroupsJoinUsersList", new { id = Model.ID })